.containerShop{

    .containerAllItem{
     
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        .Item{
            margin-bottom: 25px;
            padding: 10px;
            border: 1px solid rgb(238, 238, 238);
            max-width: 23%;
            .imageItem{
                img{
                   width: 100%;
                }
            }
            .itemDetail{
                text-align: center;
                .detailButton{
                    // width: 200px;
                    // border: 1px solid black;
                    // padding: 6px 20px;
                    // color: black;
                    
                    background-color: #fff;
                    color: #000;
                    border: 2px solid #000;
                    padding: 5px 20px;
                    cursor: pointer;
                    transition: background-color 0.3s, color 0.3s;

                    /* Hover  */
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }

                }
            }
        }
    }
}