.Container{

    .ContainerDetail{
        margin-top: 100px;
        padding: 0 50px;
        display: flex;
        .Image img{
            margin-left: 100px;
            width: 400px;
            height: 400px;

        }
        .DetailItem{
            padding-left: 80px;
            .content{
                margin-top: 60px;
                p{
                    font-size: 16px;
                }
                .quantityCart{
                    border-top: 1px solid rgb(238, 238, 238);
                    margin-top: 80px;
                    padding-top: 10px;
                  
                    .addToCartButton {
                      
                        background-color: #fff;
                        color: #000;
                        border: 2px solid #000;
                        padding: 5px 20px;
                        cursor: pointer;
                        transition: background-color 0.3s, color 0.3s;
    
                        /* Hover  */
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}