
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divContainerLogin{
    height: 100vh;
    background-image: url(../../../public/image/banner/banner1.jpg);
}
.container-all {
    
    padding: 5% ;
    width: 90%;
    display: flex;
    height: auto;
 
    justify-content: space-between;
    font-family: sans-serif
}

.container-left {
    width: 45%;
    height: 80%;

}

.container-right {
    width: 45%;
    height: 80%;
}

h3 {
    padding: 15px 0px;
}

h5 {
    padding: 10px 0px;
}

p {
    font-size: 14px;
    line-height: 1.4;
}

.container-left input {
    margin: 5px 0px;
    width: 450px;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(10, 7, 7);
    padding: 10px;
}

button {
    margin-top: 10px;
    width: 450px;
    padding: 5px;
    background-color: white;
    color: black;
    border: 2px solid;

}

.validexEmail {
    display: none;
}


