.itemContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item {
        width: 90%;
        border-bottom: 1px solid grey;
        display: flex;
        padding: 10px 10%;
        justify-content: space-evenly;

        .itemImage {
            width: 30%;
            height: 120px;
            margin-right: 30px;

            img {
                width: 100%;
                height: 100%
            }
        }

        .detailItem {
            width: 70%;
        }

        .quantity {
            display: flex;
        }
    }

    .total {
        width: 80%;
        text-align: left;
        // border: 1px solid black;
    }

    .total p {
        text-align: left;
        margin-bottom: 0px;

    }
}