.storysContainer{
    padding-top: 50px;
    .Story{
        padding: 40px;
        .storyDetail{
            display: flex;
            .imgStory{
                    width: 30%;
                img{
                    width: 250px;
                    height: 250px;
                }
            }
            .titleStory{
                padding-top: 40px;
                width: 70%;
           
              
            }
           
        }
      
    }
}