.container {
    margin-top: 30px;
    // width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-two {
        width: 80%;

        .TitleContainer {
          
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 30px;
            height: 100px;

            p {
                width: 20%;
                padding: 5px 10px;
                border: 1px solid;
                margin-bottom: 0;
            }

            input {
                width: 200px;

                outline: none;
            }
        }

        .listProducts {
            .productDetailContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .productDetail {
                    height: 100px;
                    display: flex;
                    gap: 10px;
                    width: 23%;
                    border: 1px solid;

                    .detail {
                        p {
                            margin-bottom: 0;
                        }
                    }

                    img {
                        width: 100px;
                        height: 100%;
                    }
                }
            }

        }
        .listUser{
            table{
                width: 80%;
                margin: 0 auto;
            }
          
          
            table tr th {
                border: 1px solid;
                padding: 10px;
                text-align: center;
            }
             table tr td{
                border: 1px solid;
                padding: 10px;
                 text-align: center;
             }
        }
        .history{
            table{
                width: 70%;
                margin: 0 auto;
            }
             table tr th {
                border: 1px solid;
                padding: 5px;
                text-align: center;
            }
             table tr td{
                border: 1px solid;
                padding: 10px;
                 text-align: center;
                
             }
             .imageReceipt {
                width: 80px;
                height: 80px;
             }
        }
    }
}