.container {
    margin-top: 30px;
    // width: 100%;
    // border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-two {
        width: 90%;

        .TitleContainer {
          
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 30px;
            height: 100px;

            p {
                cursor: pointer;
                width: 20%;
                padding: 5px 10px;
                border: 1px solid;
                margin-bottom: 0;
            }

            input {
                width: 200px;
                border-bottom: 1px solid black ;
                outline: none;
            }
        }

        .listProducts {
            .productDetailContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .productDetail {
                    padding: 10px 10px 0px 10px;
                    border-radius: 8px;
                    width: 23%;
                    display: flex;
                    gap: 10px;
                    background-color: rgb(247, 245, 245);

                    .detail {
                        p {
                            margin-bottom: 0;
                        }
                    }

                    img {
                        // object-fit: cover;
                        width: 120px;
                        height: 120px;
                        border-radius: 8px;
                    }
                }
            }

        }
        .listUser{
            table{
                width: 80%;
                margin: 0 auto;
            }
          
          
            table tr th {
                border: 1px solid;
                padding: 10px;
                text-align: center;
            }
             table tr td{
                border: 1px solid;
                padding: 10px;
                 text-align: center;
             }
        }
        .history{
            table{
                width: 70%;
                margin: 0 auto;
            }
             table tr th {
                border: 1px solid;
                padding: 5px;
                text-align: center;
            }
             table tr td{
                border: 1px solid;
                padding: 10px;
                 text-align: center;
                
             }
             .imageReceipt {
                width: 80px;
                height: 80px;
             }
        }
        .containerAddNew{
          .containerAdd{
            display: flex;
            width: 90%;
            border: 1px solid black;
           
          
            justify-content: space-around;
          }
            input{
                border: 1px solid black;
                width: 300px;
                outline: none;
            }
            button{
                background-color: black;
                color: #fff;
                width: 250px;
                margin: 30px;
            }
        }
        .buttonAddNew{
            width: 90%;
            display: flex;
            justify-content: center;
        }
    }
}