
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerRegister{

    height: 100vh;
    background-image: url(../../../public/image/banner/bannerRegister.jpg);
    .container-all {
    position: relative;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 95%;
    margin: 0 6%;
    padding: 5%;
    display: flex;
    height: 550px;
    justify-content: space-between;
    font-family: sans-serif
}
}


.container-left {
    width: 45%;
    height: 80%;

}

.container-right {
    width: 45%;
    height: 90%;
}

h3 {
    padding: 15px 0px;
}

h5 {
    padding: 10px 0px;
}

p {
    font-size: 12px;
    line-height: 1.4;
}

.container-left input {
    margin: 5px 0px;
    width: 450px;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(34, 33, 33);
    padding: 10px;
}

.buttonnext {
    margin-top: 10px;
    width: 450px;
    padding: 5px;
border: 2px solid black ;
    color: #fff
}
.buttonnext a{
    color: black;
}
 

