
.HeaderContainer{
 
    width: 100%;
    max-width: 1440px;
    display: flex;
    height: 80px;
    align-items: center;
    color: black;
    z-index: 10;
  
   
    .NavRight{
        display: flex;
        padding-left: 10px;
        margin: 0;
        align-items: center;
        .search-button {
            margin-left: 20px;
            margin-top: -10px;

            
        }
    }
   
    .NavRight a{
        margin-left: 20px;
        text-decoration: none;
        color: black;
        
       
       
       .dropdown {
            margin-top: 20px !important;
            padding-top: 30px !important;
       }
       .dropdown button{
        border: none;
        background-color: #fff;
        
       }
       .shop-btn {
        box-shadow: none;
        padding: 0;
        background-color: #fff;
        color: black;
        border: none;
        width: 30px;
        margin-top: 0;
        // border: 1px solid black;
        padding-bottom: 4px;
       }
    }
    .logoContainer{
        display: flex;
        height: 80%;
        width: 30%;

     
        .logoImage {
            width: 230px;
           
            img{
                padding-left: 40px;
                width: 100%;
                height: 100%;
            }
        }

    }
    .NavCartAccount{
        display: flex;
        align-items: center;
        margin-left: 90%;
        .avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid black;
            margin: 0 15px;
            box-sizing: unset;
            img{
                height: 30px;
                width: 30px;
                object-fit: fill;
                border-radius: 50%;
            }
        }
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
    left: -10px;

    .dropdown-item {
        margin: auto 0;
        width: 150px;
    }
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .searchItem{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
    border: 2px solid;
    min-height: 150px ;
    .itemSearch{
        border: 1px solid;
       
        width: 20%;
        margin: 20px;
        display: flex;
        .imgItem {
            width: 50%;
            img{
                width: 100%;
            }
        }
        .detailItemSearch{
            padding: 10px;
            width: 50%;
          
            p{
                margin-bottom: 0px;
            }
        }
      
    }
}

